<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="ResolveURL">
		<setting default="true" id="allow_universal" label="Enable Universal Resolvers" type="bool"/>
		<setting default="true" id="auto_pick" label="Automatically pick best quality" type="bool"/>
		<setting default="true" id="use_cache" label="Use Function Cache" type="bool"/>
		<setting id="reset_cache" type="action" label="Reset Function Cache" action="RunPlugin(plugin://script.module.resolveurl/?mode=reset_cache)"/>
		<setting id="personal_nid" label="Your NID" type="text" visible="false" default=""/>
		<setting id="last_ua_create" label="last_ua_create" type="number" visible="false" default="0"/>
		<setting id="current_ua" label="current_ua" type="text" visible="false" default=""/>
		<setting id="addon_debug" label="addon_debug" type="bool" visible="false" default="false"/>
	</category>
	<category label="Universal Resolvers">
	</category>
	<category label="Resolvers 1">
		<setting label="estream" type="lsep"/>
		<setting id="EstreamResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="EstreamResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="EstreamResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="generic" type="lsep"/>
		<setting id="ResolveGeneric_priority" type="number" label="Priority" default="100"/>
		<setting id="ResolveGeneric_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="ResolveGeneric_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="openload" type="lsep"/>
		<setting id="OpenLoadResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="OpenLoadResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="OpenLoadResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting id="OpenLoadResolver_auto_update" type="bool" label="Automatically update resolver" default="true"/>
		<setting id="OpenLoadResolver_url" type="text" label="    Auto-Update Url" default="" visible="eq(-1,true)"/>
		<setting id="OpenLoadResolver_key" type="text" label="    Decryption Key" default="" option="hidden" visible="eq(-2,true)"/>
		<setting id="OpenLoadResolver_etag" type="text" default="" visible="false"/>
		<setting label="streamango" type="lsep"/>
		<setting id="StreamangoResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="StreamangoResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="StreamangoResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="vidto" type="lsep"/>
		<setting id="VidtoResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="VidtoResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="VidtoResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="vidup.me" type="lsep"/>
		<setting id="VidUpMeResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="VidUpMeResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="VidUpMeResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="vidzi" type="lsep"/>
		<setting id="VidziResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="VidziResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="VidziResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="vshare" type="lsep"/>
		<setting id="VshareResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="VshareResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="VshareResolver_login" type="bool" label="login" default="true" visible="false"/>
	</category>
</settings>