config.audio.volume=85
config.autolanguage.audio_autoselect1=orj dos ory org esl qaa und mis mul ORY ORJ Audio_ORJ
config.autolanguage.subtitle_autoselect1=rus
config.autolanguage.subtitle_defaultdvb=true
config.av.deinterlace=1
config.av.deinterlace_sd=3
config.av.osd_alpha=84
config.av.sound_card=1
config.av.sound_device=8
config.av.sound_mode=1
config.av.videoport=DVI-PC
config.av.videorate=60
config.epg.freesat=false
config.epg.netmed=false
config.epg.viasat=false
config.inputDevices.event10.name=Serial IR type home-brew
config.mediaplayer.defaultDir=/home/sat/Видео/
config.mediaplayer.onMainMenu=true
config.misc.defaultchosen=false
config.misc.demux_size=962560
config.misc.enableGeolocation=false
config.misc.erase_flags=0
config.misc.firstrun=false
config.misc.hotkey.additional_keys=true
config.misc.hotkey.power=Menu/shutdown
config.misc.hotkey.power_long=Module/Screens.Standby/TryQuitMainloop/1
config.misc.initialchannelselection=false
config.misc.languageselected=false
config.misc.lastrotorposition=3560
config.misc.load_unlinked_userbouquets=false
config.misc.picon_path=/usr/share/enigma2/
config.misc.RestartUI=true
config.misc.showrotorposition=yes
config.misc.startCounter=7100
config.misc.useTransponderTime=false
config.misc.videowizardenabled=false
config.movielist.last_selected_tags=None
config.movielist.last_timer_videodir=/media/hdd/movies/
config.movielist.moviesort=4
config.movielist.videodirs=['/media/hdd/movies/']
config.Nims.0.advanced.lnb.1.commitedDiseqcCommand=AA
config.Nims.0.advanced.lnb.1.diseqcMode=1_2
config.Nims.0.advanced.lnb.1.powerMeasurement=false
config.Nims.0.advanced.lnb.2.commitedDiseqcCommand=AB
config.Nims.0.advanced.lnb.2.diseqcMode=1_0
config.Nims.0.advanced.lnb.2.lof=circular_lnb
config.Nims.0.advanced.sat.30.lnb=1
config.Nims.0.advanced.sat.30.rotorposition=3
config.Nims.0.advanced.sat.30.usals=false
config.Nims.0.advanced.sat.48.lnb=1
config.Nims.0.advanced.sat.48.rotorposition=5
config.Nims.0.advanced.sat.48.usals=false
config.Nims.0.advanced.sat.70.lnb=1
config.Nims.0.advanced.sat.70.rotorposition=7
config.Nims.0.advanced.sat.70.usals=false
config.Nims.0.advanced.sat.90.lnb=1
config.Nims.0.advanced.sat.90.rotorposition=9
config.Nims.0.advanced.sat.90.usals=false
config.Nims.0.advanced.sat.100.lnb=1
config.Nims.0.advanced.sat.100.rotorposition=10
config.Nims.0.advanced.sat.100.usals=false
config.Nims.0.advanced.sat.130.lnb=1
config.Nims.0.advanced.sat.130.rotorposition=13
config.Nims.0.advanced.sat.130.usals=false
config.Nims.0.advanced.sat.160.lnb=1
config.Nims.0.advanced.sat.160.rotorposition=16
config.Nims.0.advanced.sat.160.usals=false
config.Nims.0.advanced.sat.192.lnb=1
config.Nims.0.advanced.sat.192.rotorposition=19
config.Nims.0.advanced.sat.192.usals=false
config.Nims.0.advanced.sat.235.lnb=1
config.Nims.0.advanced.sat.235.rotorposition=23
config.Nims.0.advanced.sat.235.usals=false
config.Nims.0.advanced.sat.282.lnb=1
config.Nims.0.advanced.sat.282.rotorposition=28
config.Nims.0.advanced.sat.282.usals=false
config.Nims.0.advanced.sat.305.lnb=1
config.Nims.0.advanced.sat.305.rotorposition=30
config.Nims.0.advanced.sat.305.usals=false
config.Nims.0.advanced.sat.315.lnb=1
config.Nims.0.advanced.sat.315.rotorposition=32
config.Nims.0.advanced.sat.315.usals=false
config.Nims.0.advanced.sat.330.lnb=1
config.Nims.0.advanced.sat.330.rotorposition=33
config.Nims.0.advanced.sat.330.usals=false
config.Nims.0.advanced.sat.360.lnb=2
config.Nims.0.advanced.sat.360.tonemode=off
config.Nims.0.advanced.sat.390.lnb=1
config.Nims.0.advanced.sat.390.rotorposition=39
config.Nims.0.advanced.sat.390.usals=false
config.Nims.0.advanced.sat.400.lnb=1
config.Nims.0.advanced.sat.400.rotorposition=40
config.Nims.0.advanced.sat.400.usals=false
config.Nims.0.advanced.sat.420.lnb=1
config.Nims.0.advanced.sat.420.rotorposition=42
config.Nims.0.advanced.sat.420.usals=false
config.Nims.0.advanced.sat.425.lnb=1
config.Nims.0.advanced.sat.425.rotorposition=43
config.Nims.0.advanced.sat.425.usals=false
config.Nims.0.advanced.sat.450.lnb=1
config.Nims.0.advanced.sat.450.rotorposition=45
config.Nims.0.advanced.sat.450.usals=false
config.Nims.0.advanced.sat.460.lnb=1
config.Nims.0.advanced.sat.460.rotorposition=46
config.Nims.0.advanced.sat.460.usals=false
config.Nims.0.advanced.sat.520.lnb=1
config.Nims.0.advanced.sat.520.rotorposition=52
config.Nims.0.advanced.sat.520.usals=false
config.Nims.0.advanced.sat.525.lnb=1
config.Nims.0.advanced.sat.525.rotorposition=52
config.Nims.0.advanced.sat.525.usals=false
config.Nims.0.advanced.sat.530.lnb=1
config.Nims.0.advanced.sat.530.rotorposition=53
config.Nims.0.advanced.sat.530.usals=false
config.Nims.0.advanced.sat.549.lnb=1
config.Nims.0.advanced.sat.549.rotorposition=55
config.Nims.0.advanced.sat.549.usals=false
config.Nims.0.advanced.sat.560.lnb=1
config.Nims.0.advanced.sat.560.rotorposition=56
config.Nims.0.advanced.sat.560.usals=false
config.Nims.0.advanced.sat.570.lnb=1
config.Nims.0.advanced.sat.570.rotorposition=57
config.Nims.0.advanced.sat.570.usals=false
config.Nims.0.advanced.sat.585.lnb=1
config.Nims.0.advanced.sat.585.rotorposition=59
config.Nims.0.advanced.sat.585.usals=false
config.Nims.0.advanced.sat.600.lnb=1
config.Nims.0.advanced.sat.600.rotorposition=60
config.Nims.0.advanced.sat.600.usals=false
config.Nims.0.advanced.sat.620.lnb=1
config.Nims.0.advanced.sat.620.rotorposition=62
config.Nims.0.advanced.sat.620.usals=false
config.Nims.0.advanced.sat.3520.lnb=1
config.Nims.0.advanced.sat.3520.rotorposition=78
config.Nims.0.advanced.sat.3520.usals=false
config.Nims.0.advanced.sat.3530.lnb=1
config.Nims.0.advanced.sat.3530.rotorposition=77
config.Nims.0.advanced.sat.3530.usals=false
config.Nims.0.advanced.sat.3550.lnb=1
config.Nims.0.advanced.sat.3550.rotorposition=75
config.Nims.0.advanced.sat.3550.usals=false
config.Nims.0.advanced.sat.3560.lnb=1
config.Nims.0.advanced.sat.3560.rotorposition=74
config.Nims.0.advanced.sat.3560.usals=false
config.Nims.0.advanced.sat.3570.lnb=1
config.Nims.0.advanced.sat.3570.rotorposition=73
config.Nims.0.advanced.sat.3570.usals=false
config.Nims.0.advanced.sat.3592.lnb=1
config.Nims.0.advanced.sat.3592.rotorposition=71
config.Nims.0.advanced.sat.3592.usals=false
config.Nims.0.advanced.sats=360
config.Nims.0.configMode=advanced
config.Nims.0.diseqcMode=single
config.Nims.0.lastsatrotorposition=3560
config.OpenWebif.auth=true
config.OpenWebif.responsive_enabled=true
config.OpenWebif.responsive_epgsearch_only_bq=false
config.OpenWebif.responsive_rcu_screenshot=false
config.osd.language=ru_RU
config.ParentalControl.retries.servicepin.time=1479806056
config.ParentalControl.retries.setuppin.time=1479806056
config.pc.default_fullscreen=true
config.pc.image16_9_zoom_x=100
config.pc.image16_9_zoom_y=100
config.pc.image4_3_zoom_x=100
config.pc.image4_3_zoom_y=100
config.pc.initial_window_height=1080
config.pc.initial_window_width=1920
config.pc.prebuffer_metronom_avc=153000
config.pc.prebuffer_metronom_hevc=180000
config.pc.prebuffer_metronom_mpeg2=135000
config.pc.prebuffer_metronom_mpeg2sd=117000
config.pc.sd_noise=1
config.pc.sd_sharpness=1
config.pic.infoline=false
config.pic.lastDir=/home/sat/Изображения/
config.pic.slidetime=5
config.plugins.ClearMem.enable=true
config.plugins.ClearMem.timescrinfo=2
config.plugins.configurationbackup.backupdirs=['/etc/default_gw', '/etc/hostname', '/etc/network/interfaces', '/etc/resolv.conf', '/etc/wpa_supplicant.ath0.conf', '/etc/wpa_supplicant.conf', '/etc/wpa_supplicant.wlan0.conf', '/usr/local/e2/etc/enigma2/']
config.plugins.EncryptedChannel.enabled=true
config.plugins.EncryptedChannel.mesmode=4
config.plugins.EncryptedChannel.minsnrmode=16
config.plugins.EncryptedChannel.timemode=5
config.plugins.epgimport.longDescDays=5
config.plugins.epgrefresh.delay_standby=10
config.plugins.epgrefresh.enabled=true
config.plugins.epgrefresh.interval=2
config.plugins.epgrefresh.interval_seconds=120
config.plugins.epgrefresh.lastscan=0
config.plugins.epgrefresh.show_help=false
config.plugins.epgrefresh_extra.bookmarks=['/media/hdd/']
config.plugins.epgrefresh_extra.cachesavesched=true
config.plugins.epgsearch.history=['\xd0\xa7\xd0\x81\xd0\xa0\xd0\x9d\xd0\x9e\xd0\x95 \xd0\x9c\xd0\x9e\xd0\xa0\xd0\x95 (16+)', '\xd0\x92\xd0\x95\xd0\xa7\xd0\x95\xd0\xa0', '\xd0\x92 \xd0\x9f\xd0\x9e\xd0\x93\xd0\x9e\xd0\x9d\xd0\x95 \xd0\x97\xd0\x90 \xd0\x9d\xd0\x9b\xd0\x9e (12+)', '\xd0\xa1\xd0\xa2\xd0\x9e\xd0\x9b\xd0\x9a\xd0\x9d\xd0\x9e\xd0\x92\xd0\x95\xd0\x9d\xd0\x98\xd0\x95 \xd0\xa1 \xd0\x91\xd0\x95\xd0\x97\xd0\x94\xd0\x9d\xd0\x9e\xd0\x99', '\xd0\x92\xd0\xa2\xd0\x9e\xd0\xa0\xd0\x96\xd0\x95\xd0\x9d\xd0\x98\xd0\x95 \xd0\x9d\xd0\x90 \xd0\x97\xd0\x95\xd0\x9c\xd0\x9b\xd0\xae (16+)', '\xd0\xa0\xd0\xab\xd0\x91\xd0\xab-\xd0\xa7\xd0\xa3\xd0\x94\xd0\x9e\xd0\x92\xd0\x98\xd0\xa9\xd0\x90 (6+)', '\xd0\xa0\xd0\x90\xd0\xa1\xd0\xa1\xd0\x9b\xd0\x95\xd0\x94\xd0\x9e\xd0\x92\xd0\x90\xd0\x9d\xd0\x98\xd0\xaf', '\xd0\x93\xd0\x9e\xd0\xa0\xd0\xac\xd0\x9a\xd0\x9e!-2 (16+)']
config.plugins.epgsearch.history_length=10
config.plugins.filebrowser.path_left=/home/hdd/movie/
config.plugins.filebrowser.path_right=/home/.Trash/
config.plugins.ftpbrowser.servercount=1
config.plugins.iptvplayer.autoCheckForUpdate=false
config.plugins.iptvplayer.buforowanie=true
config.plugins.iptvplayer.captcha_bypass_free=myjd
config.plugins.iptvplayer.captcha_bypass_pay=2captcha.com
config.plugins.iptvplayer.deleteIcons=0
config.plugins.iptvplayer.disable_live=true
config.plugins.iptvplayer.downgradePossible=true
config.plugins.iptvplayer.dukpath=/usr/local/e2/lib/enigma2/python/Plugins/Extensions/IPTVPlayer/bin/duk
config.plugins.iptvplayer.osk_type=system
config.plugins.iptvplayer.possibleUpdateType=sourcecode
config.plugins.iptvplayer.showinMainMenu=true
config.plugins.iptvplayer.skin=Auto
config.plugins.iptvplayer.uchardetpath=/usr/bin/uchardet
config.plugins.iptvplayer.wgetpath=/usr/bin/wget
config.plugins.iptvplayer.ytDefaultformat=9999
config.plugins.iptvplayer.ZablokujWMV=false
config.plugins.JediMakerXtream.bouquet_id=0
config.plugins.JediMakerXtream.extensions=true
config.plugins.JediMakerXtream.main=false
config.plugins.JediMakerXtream.timeout=3
config.plugins.JediMakerXtream.unique=434
config.plugins.navibar.dlpath=/media/hdd/icons
config.plugins.navibar.fontsize=28
config.plugins.navibar.hits=0
config.plugins.navibar.placesize=550
config.plugins.navibar.transparent=true
config.plugins.navibar.which=wall
config.plugins.OscamStatus.useIP=false
config.plugins.RecInfobar.rec_indicator=true
config.plugins.setpicon.bookmarks=['/tmp/picon/', '/usr/share/enigma2/picon/']
config.plugins.setpicon.filename=1
config.plugins.setpicon.sorting=1
config.plugins.setpicon.target=/usr/share/enigma2/picon/
config.plugins.setpicon.zap=true
config.plugins.SoftcamMenu.CloseOnRestart=false
config.plugins.SoftcamMenu.showEcm=true
config.plugins.SoftcamSetup.autocam.defcam=oscam
config.plugins.SoftcamSetup.autocam.enabled=true
config.plugins.SystemTime.choiceSystemTime=1
config.plugins.tmbd.add_ext_menu=true
config.plugins.YouTube.lastPosition=[u'mxrH_Frfs-U', 9655200]
config.plugins.YouTube.maxResolution=38
config.plugins.YouTube.onMovieStop=quit
config.plugins.YouTube.safeSearch=none
config.plugins.YouTube.searchHistoryDict.Searchchannel=['\xd0\xbd\xd0\xb5\xd1\x82\xd0\xb7\xd0\xb8\xd0\xbc', '\xd0\xb5\xd0\xbb\xd0\xb5\xd0\xbd\xd0\xb0 \xd0\xb2\xd0\xb0\xd1\x81\xd0\xb8\xd0\xbb\xd1\x8c\xd0\xb5\xd0\xb2\xd0\xb0', '\xd0\xb5\xd0\xbb\xd0\xb5\xd0\xbd\xd0\xb0 \xd0\xb2\xd0\xb0\xd1\x81\xd0\xb8   : \xd0\xbc\xd0\xbc\xd0\xbcg\xd0\xb8', '\xd0\xb5\xd0\xbb\xd0\xb5\xd0\xbd\xd0\xb0\xd0\xbc\xd0\xbc\xd0\xbcg\xd0\xb8']
config.plugins.YouTube.searchHistoryDict.Searchvideo=['x-factor \xd0\xbb\xd1\x83\xd1\x87\xd1\x88\xd0\xb5\xd0\xb5', '\xd1\x85 \xd1\x84\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80 \xd0\xbb\xd1\x83\xd1\x87\xd1\x88\xd0\xb5\xd0\xb5 2018 \xd0\xbf\xd1\x80\xd0\xb8\xd0\xba\xd0\xbe\xd0\xbb\xd1\x8b', 'ufo 2018 real', 'ufobirne nasa', 'x \xd1\x84\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80 \xd0\xbb\xd1\x83\xd1\x87\xd1\x88\xd0\xb5\xd0\xb5 \xd1\x80\xd0\xbe\xd1\x81\xd1\x81\xd0\xb8\xd1\x8f', 'UFO', 'ufo', 'X-Factor']
config.radio.lastroot=1:7:1:0:0:0:0:0:0:0:FROM BOUQUET "bouquets.radio" ORDER BY bouquet;1:7:0:0:0:0:1680000:0:0:0:(satellitePosition == 360) && (type == 2) || (type == 10) ORDER BY name:36.0E Eutelsat 36B & Express AMU1 - Сервисы;
config.radio.lastservice=1:0:2:7A3:13:70:1680000:0:0:0:
config.recording.keep_timers=7
config.recording.margin_after=5
config.recording.margin_before=3
config.recording.offline_decode_delay=1000
config.seek.selfdefined_13=15
config.seek.selfdefined_46=60
config.seek.selfdefined_79=300
config.skin.primary_skin=Classplus_FHD/skin.xml
config.streaming.descramble_client=true
config.subtitles.dvb_subtitles_yellow=true
config.subtitles.pango_autoturnon=false
config.subtitles.pango_subtitle_colors=2
config.subtitles.subtitle_fontsize=30
config.subtitles.ttx_subtitle_colors=2
config.subtitles.ttx_subtitle_original_position=true
config.SystemTools.setupmenu=true
config.timezone.val=Moscow
config.tv.lastroot=1:7:1:0:0:0:0:0:0:0:(type == 1) || (type == 17) || (type == 22) || (type == 25) || (type == 31) || (type == 32) || (type == 134) || (type == 195) FROM SATELLITES ORDER BY satellitePosition;1:7:0:0:0:0:DE80000:0:0:0:(satellitePosition == 3560) && (type == 1) || (type == 17) || (type == 22) || (type == 25) || (type == 31) || (type == 32) || (type == 134) || (type == 195) FROM PROVIDERS ORDER BY name:4.0W Amos 3/7 - Провайдеры;1:7:0:0:0:0:0:0:0:0:(provider == "SLM") && (satellitePosition == 3560) && (type == 1) || (type == 17) || (type == 22) || (type == 25) || (type == 31) || (type == 32) || (type == 134) || (type == 195) ORDER BY name:SLM;
config.tv.lastservice=1:0:1:8:65:61:DE80000:0:0:0:
config.usage.allowed_timeshift_paths=['/media/hdd/timeshift/']
config.usage.alternative_number_mode=true
config.usage.bouquethotkeys=true
config.usage.crypto_icon_mode=1
config.usage.default_path=/media/hdd/movies/
config.usage.hdd_standby=0
config.usage.hide_ci_messages=false
config.usage.hide_number_markers=false
config.usage.instantrec_path=/media/hdd/movies/
config.usage.menu_show_numbers=menu&plugins
config.usage.menu_sort_mode=user
config.usage.menu_sort_weight={'mainmenu': {'submenu': {'timer_edit': {'sort': 20}, 'info_screen': {'sort': 30}, 'plugin_selection': {'sort': 40}, 'xbmc_addons': {'sort': 10, 'hidden': 1}, 'media_player': {'sort': 45}, 'iptv_main': {'sort': 70}, 'standby_restart_list': {'sort': 60}, 'setup_selection': {'sort': 50}}}}
config.usage.movielist_trashcan_days=8
config.usage.movielist_trashcan_reserve=40
config.usage.on_long_powerpress=shutdown
config.usage.on_short_powerpress=show_menu
config.usage.quickzap_bouquet_change=true
config.usage.recinfobar=true
config.usage.record_indicator_mode=1
config.usage.recording_frontend_priority=-1
config.usage.remote_fallback=http://192.168.1.3:8001
config.usage.remote_fallback_enabled=true
config.usage.remote_fallback_import=channels
config.usage.service_icon_enable=true
config.usage.servicelist_column=400
config.usage.servicelist_cursor_behavior=standard
config.usage.servicetype_icon_mode=1
config.usage.setup_level=expert
config.usage.swap_snr_on_osd=true
config.usage.timer_path=/media/hdd/movies/
config.usage.timeshift_path=/media/hdd/timeshift/
config.usage.zap_with_ch_buttons=true
