# oscam.user generated automatically by Streamboard OSCAM 1.20_svn SVN r11572-798
# Read more: http://www.streamboard.tv/svn/oscam/trunk/Distribution/doc/txt/oscam.user.txt

[account]
user                          = root
description                   = dvbapi
group                         = 1
ident                         = CAID:IDENT;CAID:IDENT

