[reader]
label                         = "000000"
description                   = reader1
protocol                      = newcamd
device                        = URL
key                           = 0102030405060708091011121314
user                          = LOGIN
password                      = PASSWORD
caid                          = CAID
ident                         = CAID:IDENT
group                         = 1
audisabled                    = 1
disablecrccws                 = 1

[reader]
label                         = "000000"
description                   = reader2
protocol                      = newcamd
device                        = URL
key                           = 0102030405060708091011121314
user                          = LOGIN
password                      = PASSWORD
caid                          = CAID
ident                         = CAID:IDENT
group                         = 1
audisabled                    = 1
disablecrccws                 = 1

[reader]
label                         = emulator
protocol                      = emu
device                        = emulator
disablecrccws_only_for        = 0E00:000000
caid                          = 0500,0604,0E00,1010,1801,2600,2602,2610
detect                        = cd
ident                         = 0500:000000,007400,007800,021110,023800;0604:000000;0E00:000000;1010:000000;1801:000000,001101,002111,007301;2600:000000;2602:000000;2610:000000
group                         = 1
emmcache                      = 2,1,2,1
emu_auproviders               = 0604:010200;0E00:000000;1010:000000;2610:000000

