<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">
		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>
		<setting id="tmdb_test" type="text" label="TMDB list url (just last 5 digits)" default=""/>
		<setting id="dev_log" type="bool" label="Enable Scraper Log [DEV]" default="false"/>
		<setting label="Disable All" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=DisableAll)"/>
		<setting label="Enable All" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=EnableAll)"/>
		<setting label="Deletelog" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=Deletelog)"/>
	</category>
	<category label="Scrapers 1">
		<setting label="DareWatch" type="lsep"/>
		<setting id="DareWatch_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="HD Popcorns" type="lsep"/>
		<setting id="HD Popcorns_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Panda Movies" type="lsep"/>
		<setting id="Panda Movies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="PutlockerHD" type="lsep"/>
		<setting id="PutlockerHD_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="TheWatchSeries" type="lsep"/>
		<setting id="TheWatchSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Watch32hd" type="lsep"/>
		<setting id="Watch32hd_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="YifyMovies" type="lsep"/>
		<setting id="YifyMovies_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>