# I need the name /dev/lirc* to be constant, because lirc0 and lirc1 are constantly swapping.
# Command:
# udevadm info -a -p $(udevadm info -q path -n /dev/lirc0)
# or
# udevadm info -a -p $(udevadm info -q path -n /dev/lirc1)

KERNELS=="serial_ir.0", SUBSYSTEM=="lirc", DRIVERS=="serial_ir", ATTRS{driver_override}=="(null)", SYMLINK+="lirc_serial"
