[Desktop Entry]
Comment=Watch TV from satellites
Terminal=false
Name=Enigma2PC
Exec=sudo /usr/local/e2/bin/autostart.sh
Type=Application
Icon=/usr/local/e2/share/enigma2/enigmasquared.jpg
Categories=AudioVideo;Video;Player;TV;