[Desktop Entry]
Comment=Kill Enigma2pc
Terminal=false
Name=Kill Enigma2pc
Exec=sudo killall -9 enigma2.sh && enigma2 && xterm
Type=Application
Icon=/usr/local/e2/share/enigma2/enigmasquared2.jpg
Categories=AudioVideo;Video;Player;TV;
